<article  role="article" id="cards" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Cards</h3>
    <p>Cards are meant to be an universal element that help group similar content together on a page. They can be used within tables, behind forms, to create sections of pages, or just by themselves.</p>
  </div>
  <div class="guide__section-group">
    <ul>
      <li class="margin-bottom--charlie">
        <div class="card">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card--shadow">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card card--md">Card text goes here.</div>
      </li>
      <li class="margin-bottom--charlie">
        <div class="card card--sm">Card text goes here.</div>
      </li>
    </ul>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
  <!-- Card Base -->
  <div class="card">Card text goes here.</div>

  <!-- Card Shadow -->
  <div class="card--shadow">Card text goes here.</div>

  <!-- Card Base Medium -->
  <div class="card card--md">Card text goes here.</div>

  <!-- Card Base Small -->
  <div class="card card--sm">Card text goes here.</div>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">HTML Guidelines</h6>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a card.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card</td>
          <td class="table-guide__body-item">This should be applied to the element you are styling to look like a card. <% code("html") do %><div class="card">Card Text</div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--shadow</td>
          <td class="table-guide__body-item">If a card should have a shadow, then simply apply this class name. <% code("html") do %><div class="card--shadow">Card Text</div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--md</td>
          <td class="table-guide__body-item">Apply this modifier to the card element to change the padding.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.card--sm</td>
          <td class="table-guide__body-item">Apply this modifier to the card element to change the padding.</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<article  role="article" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Titled Cards</h3>
    <p>Titled cards are used when a card has a text only title on the card followed by a line break.</p>
  </div>
  <div class="guide__section-group">
    <div class="card padding--reset margin-bottom--charlie">
      <header class="padding-top--delta padding-left--delta padding-right--delta">
        <h6 class="margin-reset--bottom">
          Card title goes here
        </h6>
      </header>
      <hr class="margin-reset--bottom">
      <div class="padding--delta">
        Card body content goes here.
      </div>
    </div>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Component Code</h6>
    <% code("html") do %>
    <!-- Titled Card -->
    <titled-card title="Card title goes here">
      <p data-card-body>
        Card body content goes here.
      </p>
    </titled-card>
  <% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Angular Component Guidelines</h6>
    <p>This table gives you a quick overview of the attributes that can be applied to create a titled card.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Attribute</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">titled-card</td>
          <td class="table-guide__body-item">This should be applied to the card element you are styling to that has a title on it. <% code("html") do %><titled-card title="Card Title"></titled-card><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">data-card-body</td>
          <td class="table-guide__body-item">
            This should be applied to the child element of a titled-card to define the body card content.
            <% code("html") do %><div data-card-body>Card Body Text</div><% end %><br>

            This should be applied as a container when the titled-card has multiple children.
            <% code("html") do %>
            <ng-container data-card-body>
              <div gridRow>Card Body Text</div>
              <div gridRow>Card Body Text</div>
            </ng-container><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>