<article role="article" id="modals" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Modals</h3>
    <p class="text">Modals are used as a way for the user to interact with the view without leaving it. Modals should be single actions. Never use a modal as a step action or multi-part form.</p>
  </div>
  <div class="guide__section-group">
    <button class="button--primary modal__trigger-btn">Click for Modal</button>
    <div class="modal" aria-hidden="true">
      <div class="modal__overlay">
        <div class="modal__container">
          <div class="modal__body">
            <% link_to '', class: 'modal__close' do %>
              <%= inline_svg("images/icons/icons-functional/icon-close.svg", class: 'modal__trigger') %>
            <% end %>
            <header class="modal__header">
              <h3 class="title">Are you sure about this?</h3>
              <p class="modal-intro">You are about to delete {{ user.name }}. Once the employee is deleted, they will no longer be able to access the system. This action cannot be undone. Please be sure this is an action you want to take.</p>
            </header>
            <div>
              <div class="modal__actions">
                <ul class="modal__actions-list">
                  <li class="modal__actions-item">
                    <button class="button--default button--full modal__close">Cancel</button>
                  </li>
                  <li class="modal__actions-item">
                    <button class="button--danger button--full">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="guide__section-group">
    <h4 class="content-section__label">Sample Component Code</h4>
<% code("html") do %>
  <button class="button--primary modal__trigger">Click for Modal</button>
  <modal
    title="Are you sure about this?"
    intro="You are about to delete {{ user.name }}. Once the employee is deleted, they will no longer be able to access the system. This action cannot be undone. Please be sure this is an action you want to take."
    confirmText="Delete"
    (confirm)="onConfirmDelete()"></modal>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h4 class="content-section__label">HTML Guidelines</h4>
    <p>This table gives you a quick overview of the CSS classes that can be applied to create a modal.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Attribute/Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">.modal__trigger</td>
          <td class="table-guide__body-item">Add this class the element that opens or launches the modal. <% code("html") do %><button class="button--secondary modal__trigger"></button><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">modal</td>
          <td class="table-guide__body-item">This is the container of the modal. <% code("html") do %><modal></modal><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">title=""</td>
          <td class="table-guide__body-item">This is the selector that should be used to define the title of the modal or the modal header. <% code("html") do %>title="Are you sure about this?"<% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">intro=""</td>
          <td class="table-guide__body-item">This is the selector that should be used to define the content in the modal <% code("html") do %>intro="You are about to delete {{ user.name }}. Once the employee is deleted, they will no longer be able to access the system. This action cannot be undone. Please be sure this is an action you want to take."<% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>