<article  role="article" id="popouts" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Popouts</h3>
    <p>Popouts should be used when you have additional options that could not be displayed on the page properly or if you have secondary actions that are not used as often.</p>
  </div>
  <div class="guide__section-group">
    <div class="popout__container">
      <a href="#" class="popout__trigger link--primary">Popout Trigger</a>
      <figure class="popout">
        <ul class="popout__list">
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
          <li class="popout__item">
            <a href="#" class="popout__link">Popout Link</a>
          </li>
        </ul>
      </figure>
    </div>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Component Code</h6>
<% code("html") do %>
  <popout-container class="popout__container">
    <popout-trigger icon="more"></popout-trigger>
    <popout-items-list>
      <popout-list-item>
        Popout Link
      </popout-list-item>
      <popout-list-item>
        Popout Link
      </popout-list-item>
      <popout-list-item>
        Popout Link
      </popout-list-item>
    </popout-items-list>
  </popout-container>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Component Guidelines</h6>
    <p>This table gives you a quick overview of the Attributes/CSS classes that can be applied to create a popout.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Attribute/Class Name</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">popout-container</td>
          <td class="table-guide__body-item">The popout container should be applied to the parent element of the popout. It sets the positioning and creates a wrapper for the popout to display in.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">.popout__container</td>
          <td class="table-guide__body-item">The popout container class should be applied to the parent element of the popout. It sets the positioning and creates a wrapper for the popout to display in. <% code("html") do %><popout-container class"popout__container"></popout-container><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">popout-trigger</td>
          <td class="table-guide__body-item">The popout trigger should be applied to the element that is being clicked to activate the popout element. This class could be applied to an anchor or button.</td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">icon=""</td>
          <td class="table-guide__body-item">Apply this to define the icon of the element that is being clicked to activate the popout element.<% code("html") do %><popout-trigger icon="more"></popout-trigger><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">popout-items-list</td>
          <td class="table-guide__body-item">Apply this as the container of the popout list items<% code("html") do %><popout-items-list> <!-- Popout list --> </popout-items-list><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">popoutInverse="true"</td>
          <td class="table-guide__body-item">Apply this modifier to the popout element to make it appear above the popout trigger rather than below it. <% code("html") do %><popout-items-list popoutInverse="true"> <!-- Popout Inverse Content --> </div><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">popout-list-item</td>
          <td class="table-guide__body-item">Apply to the item in the list element. <% code("html") do %><popout-list-item> <!-- Popout list item --> </popout-list-item><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>