<article  role="article" id="tabs" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Tabs</h3>
    <p>Do you need to split a complex view up to make it more manageable? Just use tabs. This component should be used as an in-page navigation tool. Tabs are meant to split complicated views up into simplified sub-views that allow a user to focus in on one specific task.</p>
  </div>
  <div class="guide__section-group">
    <div class="tabs">
      <ul class="tab__list">
        <li class="tab__item is-active" data-tab="tab-1">Active Customers</li>
        <li class="tab__item" data-tab="tab-2">Archived Customers</li>
      </ul>
    </div>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Component Code</h6>
<% code("html") do %>
  <!-- Tab List -->
  <tab-group>
    <tab-item link="active-link">
      Active Customers
    </tab-item>
    <tab-item link="archived-link">
      Archived Customers
    </tab-item>
  </tab-group>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Angular Component Guidelines</h6>
    <p>This table gives you a quick overview of the attributes that can be applied to create a tab group.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Attributes</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">tab-group</td>
          <td class="table-guide__body-item">This should be applied to the parent element that wraps all of the tabs. <% code("html") do %><tab-group></tab-group><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">tab__item</td>
          <td class="table-guide__body-item">This should be applied to the list element that contains the tab navigation link. <% code("html") do %><tab-item></tab-item><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>