<article  role="article" id="tooltips" class="guide__section-group-container">
  <div class="guide__section-group">
    <h3 class="title">Tooltips</h3>
    <p>If you need to provide additional information about a feature or form element, a tooltip is a great idea. This component should be used to provide just enough information to help users understand a particular part of the interface. Keep the content inside of the tooltip to a minimum.</p>
  </div>
  <div class="guide__section-group">
    <div class="tooltip__item">
      <label class="tooltip__label label">Need Help</label>
      <%= inline_svg("images/icons/icons-functional/icon-help.svg", class: "tooltip__icon") %>
      <figure class="tooltip">
        <p class="tooltip__title"><b>This is the right place</b></p>
        <p class="tooltip__text">Need help with something? Read this message for more details about the feature / issue.</p>
      </figure>
    </div>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Sample Code</h6>
<% code("html") do %>
  <tooltip
    label="Need help"
    title="This is the right place"
    text="Need help with something? Read this message for more details about the feature / issue."></tooltip>
<% end %><br/>
  </div>
  <div class="guide__section-group">
    <h6 class="label">Component Guidelines</h6>
    <p>This table gives you a quick overview of the attribute that can be applied to create a tooltip.</p>
    <table class="table-guide">
      <thead class="table-guide__head">
        <th class="table-guide__head-item">Attribute</th>
        <th class="table-guide__head-item">Usage</th>
      </thead>
      <tbody class="table-guide__body">
        <tr>
          <td class="table-guide__body-item" style="width:30%">tooltip</td>
          <td class="table-guide__body-item">Apply this to the parent wrapper. <% code("html") do %><tooltip></tooltip><% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">label=""</td>
          <td class="table-guide__body-item">Apply this to define the label of the tooltip that the user would need more information about. This is the part that the user can see without hovering over the help icon.<% code("html") do %>label="Need help"<% end %></td>
        </tr>
        <tr>
          <td class="table-guide__body-item" style="width:30%">text=""</td>
          <td class="table-guide__body-item">Apply this to define the text that the tooltip should display. <% code("html") do %>text="Need help with something? Read this message for more details about the feature / issue."<% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>